@font-face {
    font-family: 'DM_Sans';
    src: url('./public/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf');
}

@font-face {
    font-family: 'DM_Sans_Italic';
    src: url('./public/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'DM_Sans', 'Courier New', Courier, monospace;
    text-decoration: none;
    list-style-type: none;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/********** Header **********/

.header {
    z-index: 1000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 1px 10px #000000;
}

.header-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
}

.header-img-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    width: 110px;
    height: 58px;
}

.header-img-container a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img {
    width: 100%;
    height: 100%;
}

.header-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.header-nav-list {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-nav-list a {
    color: #ffffff;
    background-color: #6181b6;
    border-radius: 15px;
    padding: 10px 45px;
    margin: 0 15px;
    border: 2px solid #000000;
}

.header-nav-list a:hover {
    background-color: #6a91cc;
    cursor: pointer;
}

/********** Main **********/

.main {
    flex: 1;
    background-color: #ffffff;
    position: relative;
    display: flex;
    width: 100%;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
    width: 100%;
}

.main-side-panel {
    position: relative;
    display: flex;
    width: 20%;
    border: 2px solid #000000;
    border-radius: 10px;
}

.container-txt-side-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 20px;
}

.button-container-side-panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
}

.button-side-panel {
    color: #ffffff;
    background-color: #6181b6;
    border-radius: 10px;
    padding: 12px 45px;
    margin: 12px 0;
    border: 2px solid #000000;
}

.button-side-panel:hover {
    background-color: #6a91cc;
    cursor: pointer;
}

.main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    margin-left: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background: #6181b6;
    overflow-y: auto;
}

.container-txt-main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/********** TP3 **********/

.TP3exercice1 {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 25%;
    border-radius: 10px;
}

.section_exo1tp3 {
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
}

.section_exo1tp3 ul li {
    margin: 3px 0;
}

.TP3exercice2 {
    position: relative;
    display: none;
    flex-direction: column;
    padding: 30px 7%;
    border-radius: 10px;
}

.section_exo2tp3 {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

.tiret {
    list-style-type: '-';
}

.tabulation_ex2TP3 {
    padding-left: 30px;
}

.positionPKey {
    height: 4px;
}

/********** Footer **********/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6181b6;
    height: 60px;
}

.footer-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.footer-container a {
    color: #ffffff;
}

.footer-container a:hover {
    color: #e6e6e6;
    text-decoration: underline;
}
